{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "~middlewares": "./src/api/middlewares",
          "~modules": "./src/api/modules",
          "~common": "./src/api/common",
          "~config": "./src/config",
          "~database": "./src/database",
          "~utils": "./src/utils"
        }
      }
    ]
  ]
}
